{% extends "base.html" %}
{% load i18n %}
 {% block nav-menu %}     
                    {% if user.is_authenticated %}
                    <li class="active" value="Popup!"><a href="/member/">My Space</a></li>
                    <li><a href="#" id="button">Feedback to us</a></li>
                    {% else %}
                    <li class="active"><a href="{% url auth_login %}">Log In</a></li>
                    <li><a href="/accounts/register/">Sign Up</a></li>
                    <li><a href="#" id="button">Contact Us</a></li>
                    {% endif %}
                    </ul>
                    <ul class="nav2 nav" style="float:right; margin-right:0px;">
                    {% if user.is_authenticated %}
                    <li>Hi, {{ user.username }}<button id="logout-button" class="btn" href="{% url auth_logout %}">Log Out</button></li>
                    {% else %}
                    {% endif %}
               {% endblock %}     
{% block content %}
<div class="main_feature">
    <div class="main_content">
        <div class="content_heading">
            <h1>Login</h1>
        </div>
        <div class="row-fluid">
        <div class="thumbnails">
        <div class="span6">
            <div class="thumbnail">
                <div class="content_body">
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/32x32" src="/static/img/icon/save_icon.png" width="64px">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Quick save</h4>
                    <p><em>Quick save an article, a quote or simply a status of someone you noticed. Just one click. Done!</em></p><br>
                    </div>
                    </div><br/><br/>
                    
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/32x32" src="/static/img/icon/combine_icon.png" width="64px">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Combine</h4>
                    <p><em>Store note just with what you need. Just mark what you want and click combine.</em></p><br>
                    </div>
                    </div><br/><br/>
                    
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/32x32" src="/static/img/icon/share_icon.png" width="64px">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Friend share</h4>
                    <p><em>Share what you save to friends through social networks or direct link to note.</em></p><br>
                    </div>
                    </div><br/><br/>
                

                </div>
            </div>
        </div>
        
        <div class="span6">
            <div class="thumbnail">
                <form method="post" action=".">
                  {% csrf_token %}
                  {{ form.as_p }}

                  <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
                  {% if next %}
                  <input type="hidden" name="next" value="{{ next }}" />
                  {% else %}
                  <input type="hidden" name="next" value="/member/" />
                  {% endif %}
                </form>
                <p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
                <p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
            </div>
        </div>
        
        </div>
        </div>
    </div>
</div>

{% endblock %}
