{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main_feature">
    <div class="main_content">
        <div class="content_heading">
            <h1>Logged out</h1>
        </div>
        <div class="row-fluid">
        <div class="thumbnails">
        <div class="span13">
            <div class="thumbnail">
                <div class="content_body" style="text-align:center">
                <p><strong>{% trans "You have been sign out" %}</strong></p><br>
                <p><a href="/accounts/login/" class="btn btn-primary">Login Again</a></p>
                </div>
            </div>
        </div>
       
       
        </div>
        </div>
    </div>
</div>

{% endblock %}
