{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main_feature">
    <div class="main_content">
        <div class="content_heading">
            <h1>Password Reset</h1>
        </div>
        <div class="row-fluid">
        <div class="thumbnails">
        <div class="span13">
            <div class="thumbnail">
                <div class="content_body" style="text-align:center">
                    <p>{% trans "Password reset successfully" %}</p>
                    <p><a href="{% url auth_login %}">{% trans "Log in" %}</a></p>
                </div>
            </div>
        </div>
       
       
        </div>
        </div>
    </div>
</div>

{% endblock %}