{% extends "base.html" %}
{% load i18n %}
{% block nav-menu %}     
                    {% if user.is_authenticated %}
                    <li class="active" value="Popup!"><a href="/member/">My Space</a></li>
                    <li><a href="/guide/" id="guide">Guide</a></li>
                    <li><a href="#" id="button">Feedback to us</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}">Log In</a></li>
                    <li class="active"><a href="/accounts/register/">Sign Up</a></li>
                    <li><a href="/about/" id="about">About Us</a></li>
                    <li><a href="/guide/" id="guide">Guide</a></li>
                    {% endif %}
                    </ul>
                    <ul class="nav2 nav" style="float:right; margin-right:0px;">
                    {% if user.is_authenticated %}
                    <li>Hi, {{ user.username }}<button id="logout-button" class="btn" href="{% url 'auth_logout' %}">Log Out</button></li>
                    {% else %}
                    {% endif %}
               {% endblock %}     

{% block content %}
<div class="main_feature">
    <div class="main_content">
        <div class="content_heading">
            <h1>Start your zeenote</h1>
        </div>
        <div class="row-fluid">
        <div class="thumbnails">
        <div class="span6">
            <div class="thumbnail">
                <div class="content_body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/32x32" src="/static/img/icon/save_icon.png" width="64px">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Quick save</h4>
                    <p><em>Quick save an article, a quote or simply a status of someone you noticed. Just one click. Done!</em></p><br>
                    </div>
                    </div><br/><br/>
                    
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/32x32" src="/static/img/icon/combine_icon.png" width="64px">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Combine</h4>
                    <p><em>Store note just with what you need. Just mark what you want and click combine.</em></p><br>
                    </div>
                    </div><br/><br/>
                    
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/32x32" src="/static/img/icon/share_icon.png" width="64px">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Friend share</h4>
                    <p><em>Share what you save to friends through social networks or direct link to note.</em></p><br>
                    </div>
                    </div><br/><br/>
                </div>
            </div>
        </div>
        
        <div class="span6">
            <div class="thumbnail">
            <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}

            <div id="registration-captcha">
            <script type="text/javascript">
              var RecaptchaOptions = {
                     theme : 'white'
                 };
            </script>

            {% if invalid_captcha %}
            <ul class="errorlist"><li>This field value must be valid.</li></ul>
            {% endif %}  

            <div>
            Please enter verification code:
            </div>
            <script type="text/javascript"
             src="http://www.google.com/recaptcha/api/challenge?k=6LcMQdQSAAAAAITtEQIcieqhlTt6xccueIAAN96B">
            </script>
            <noscript>
             <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcMQdQSAAAAAITtEQIcieqhlTt6xccueIAAN96B"
                 height="300" width="500" frameborder="0"></iframe><br>
             <textarea name="recaptcha_challenge_field" rows="3" cols="40">
             </textarea>
             <input type="hidden" name="recaptcha_response_field"
                 value="manual_challenge">
            </noscript>
            </div>

            <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
        </div>
    </div></div></div>
</div>
{% endblock %}
