{% extends "base.html" %}
{% load i18n %}
{% block script %}

{% endblock %}
{% block content %}
<div class="main_feature">
    <div class="main_content">
        <div class="content_heading">
            <h1>About us</h1>
        </div>
        <div class="row-fluid">
        <div class="thumbnails">
        <div class="span8">
            <div class="thumbnail">
                <br><h3><b>Company: </b>NextG Solutions JSC</h3><br/>
                <p class="text-info"><b> Address: </b>A6-BT2, My Dinh 2 - Tu Liem District - Ha Noi</p><br/>
                <p class="text-info"><b> Website: </b>http://www.nextgsolutions.com</p><br/>
                <p class="text-info"><b> Email: </b>support@zeenote.net</p><br/>
                <p class="text-info"><b> Contact: </b><a href="#" id="button">Send us your request!</a></p>
            </div>
        </div>
        
        
        </div>
        </div>
    </div>
</div>


{% endblock %}
